root = true

[*]
end_of_line = lf
insert_final_newline = false
charset = utf-8
indent_style = tab
trim_trailing_whitespace = true

[build.ninja,.travis.yml]
indentstyle = space
indent_size = 1

[package.json]
indentstyle = space
indent_size = 2