node_modules/*
Cards/*
db/*
bundle/*
atlas.json
atlas.css
atlas.png
*.sh
*.pem
*.exe
*.gz
*.rdb
*.log
scripts/replays.json
config.json
wsconfig.json
private/*

aivai.htm
artcredit.htm
deck.htm
index.html
kong.html
mosaic.htm
vanilla/deckinfo.htm
vanilla/namegame.htm
vanilla/speed.htm
