<!DOCTYPE html>
<head>
<title>oetg AIvAI</title>
<link href="/forum/Smileys/default/death.png" rel="shortcut icon" />
<style>
	body {
		background-color:black;
		color:white;
		margin:0;
	}
	input {
		width:99%;
	}
	input[type="button"],input[type="number"] {
		width:49%;
	}
	#threadspan:after{
		content:" threads"
	}
	#controls {
		width:420px;
	}
	#threads {
		width:100%;
		margin-top:12px;
	}
	#replay {
		word-break:break-all;
	}
	#result {
		position:absolute;
		top:2px;
		left:428px;
		white-space:pre;
	}
</style>
</head>
<div id="controls">
<input id="deck1" placeholder="Deck 1">
<input id="deck2" placeholder="Deck 2">
<input id="seed" placeholder="Seed">
<input id="fight" value="Fight Once" type="button">
<input id="stop" value="Stop" type="button" style="visibility:hidden">
<input id="fight1000" value="Fight!!" type="button">
<input id="limit" type="number" placeholder="Matches">
<span id="threadspan"></span>
<input id="threads" value="4" type="range" min="1" max="32">
<div id="replay"></div>
<div id="result"></div>
