<!DOCTYPE html>
<title>openEtG deck</title>
<meta charset="UTF-8">
<link href="/forum/Smileys/default/time.png" rel="shortcut icon">
<link href="/ui.css" rel="stylesheet">
<link href="/assets/atlas.css" rel="stylesheet">
<div id="deck"></div>
