<!DOCTYPE html>
<head>
<title>openEtG</title>
<meta charset="UTF-8">
<link href="/forum/Smileys/default/air.png" rel="shortcut icon">
<link href="ui.css" rel="stylesheet">
<link href="assets/atlas.css" rel="stylesheet">
<link href="manifest.json" rel="manifest">
</head>
<body id="panes">
<div id="leftpane"></div>
<div id="rightpane"></div>
</body>
