<!DOCTYPE html>
<head>
<title>openEtG SoI calculator</title>
<meta charset="UTF-8">
<link href="/forum/Smileys/default/earth.png" rel="shortcut icon">
<link href="/ui.css" rel="stylesheet">
<link href="/assets/atlas.css" rel="stylesheet">
</head>
<div id="soi" style="width:900px"></div>