*{box-sizing:border-box}
body{
	background-color:#000;
	background-image:url(assets/bg_default.png);
	background-repeat:no-repeat;
	color:#fff;
	margin:0;
	font:16px Dosis;
}
a{
	color:#69F;
	text-decoration:none;
}
tr,td{padding:0}
input[type="button"]{
	background:linear-gradient(to bottom,#ddeef0,#8999a9);
	border-radius:4px;
	border:solid #000 1px;
	width:72px;
	height:20px;
	font:14px Dosis;
	cursor:pointer;
}
input[type="button"]:hover{background:linear-gradient(to bottom,#ccdde0,#586776)}
input[type="button"]:hover:active{background:linear-gradient(to bottom,#aabbc0,#485766)}
input[type="text"],input[type="password"],input:not([type]){width:150px;border:0;background-color:#111;color:#eee}
.width400{width:400px;margin:0}
.underline{border-bottom:1px solid #222;padding-bottom:1px}
.floatRight{float:right}
.atopol{width:800px;margin:0}
.atoptext{float:left;width:200px}
.atopdash{float:left;text-align:center;width:12px}
.atop1{float:left;width:48px;text-align:right}
.atop2{float:left;width:48px;text-align:right}
.atop3{float:left;width:48px}
.atop4{float:left;width:48px;text-align:right;margin-right:32px}
.infobox{
	opacity:.7;
	background-color:#000;
	font-size:10px;
	transform:translate(-50%,-100%);
	pointer-events:none;
	max-width:196px;
	position:absolute;
}
.selectortext{
	width:33px;
	height:19px;
	font-size:12px;
	pointer-events:none;
}
.lightback{background-color:#aaa;color:#000}
.beigeback{background-color:#a09080;color:#000}
.selectedbutton{background:linear-gradient(to bottom,#424748,#89f)!important}
.editbtn{width:32px!important;margin-left:4px}
.bgimg{
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	pointer-events:none;
	z-index:-1;
}
.bgbox{
	background-color:#0d2e4a;
	border-style:solid;
	border-width:2px;
	border-left-color:#111;
	border-bottom-color:#111;
	border-top-color:#999;
	border-right-color:#999;
	padding:4px;
	overflow:hidden;
}
.tutorialbox{
	background-color:rgba(255,255,255,0.7);
	border:solid #000 2px;
	line-height:120%;
	color:#000;
	padding-left:4px;
	padding-right:4px;
	z-index:2;
}
.tutorialbg{
    background-color:rgba(0,0,0,0.5);
	pointer-events:none;
    position:absolute;
    height:600px;
    width:900px;
}
.numput{width:32px!important}
.imgb:hover{
	-webkit-filter:brightness(0.6);
	filter:brightness(0.6);
	cursor:pointer;
}
.imgb:active{
	-webkit-filter:brightness(0.4);
	filter:brightness(0.4);
	cursor:pointer;
}
.sabbath{
	background:url(assets/sabbath.png);
	display:inline-block;
	height:228px;
	width:103px;
	pointer-events:none;
}
#leftpane{
	position:absolute;
	-moz-user-select:none;
	-webkit-user-select:none;
}
#rightpane{
	left:900px;
	top:0px;
	position:absolute;
}
#chatBox{
	width:350px;
	height:488px;
	overflow-y:auto;
	overflow-x:hidden;
	color:#bd3636;
	background-color:#222;
	word-wrap:break-word;
}
#chatinput{
	width:350px;
	height:40px;
	resize:none;
	border:0;
	font:14px Dosis;
	color:#ddd;
	background-color:#222;
}