*{box-sizing:border-box}
body{
	background-color:#000;
	background-image:url(assets/bg_default.png);
	background-repeat:no-repeat;
	color:#fff;
	margin:0;
	font:16px sans-serif;
}
a{
	color:#69f;
	text-decoration:none;
}
a:hover{text-decoration:underline;}
tr,td{padding:0}
input[type="button"]{
	background:linear-gradient(to bottom,#ddeef0,#8999a9);
	border-radius:4px;
	border:solid #000 1px;
	width:80px;
	height:20px;
	cursor:pointer;
}
input[type="button"]:hover{background:linear-gradient(to bottom,#ccdde0,#586776)}
input[type="button"]:hover:active{background:linear-gradient(to bottom,#aabbc0,#485766)}
select,input[type="text"],input[type="password"],input[type="number"],input:not([type]){width:150px;border:2px solid rgba(0,0,0,.7777777);border-radius:4px;background-color:rgba(8,8,8,.5);color:#eee}
select{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	color:#111;
	background-color:#ddeef0;
	background-image:url("data:image/svg+xml;utf8,<svg width='16' height='16' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'><path d='M0 0l5 5 5-5z'/></svg>");
	background-repeat:no-repeat;
	background-position-x:100%;
	background-position-y:5px;
	border:solid #000 1px;
	border-radius:4px;
}
select:hover{background-color:#bbcccf}
select:hover:active{background-color:#99aaaf}
.bg_main{background-image:url(assets/bg_main.png);width:900px;height:600px}
.width400{width:400px;margin:0}
.floatRight{float:right}
.atopol{width:900px;margin:0}
.atoptext{display:inline-block;width:200px}
.atopdash{display:inline-block;text-align:center;width:12px}
.atop1{display:inline-block;width:48px;text-align:right}
.atop2{display:inline-block;width:48px;text-align:right}
.atop3{display:inline-block;width:48px}
.atop4{display:inline-block;width:48px;text-align:right;margin-right:32px}
.cardslot{font-size:11px;height:20px;width:100px;line-height:16px;padding:2px;border:1px solid;overflow:hidden;white-space:nowrap}
.infobox{
	opacity:.7;
	background-color:#000;
	font-size:10px;
	transform:translate(-50%,-100%);
	pointer-events:none;
	max-width:196px;
	position:absolute;
}
.selectortext{
	width:33px;
	height:19px;
	font-size:12px;
	pointer-events:none;
}
.lightback{background-color:#aaa;color:#000}
.beigeback{background-color:#a98;color:#000}
.selectedbutton{background:linear-gradient(to bottom,#424748,#89f)!important}
.editbtn{width:32px!important;margin-left:4px}
.bgimg{
	-moz-user-select:none;
	-webkit-user-select:none;
	-ms-user-select:none;
	pointer-events:none;
	z-index:-1;
}
.bgbox{
	background-color:#0d2e4a;
	border-style:solid;
	border-width:2px;
	border-left-color:#111;
	border-bottom-color:#111;
	border-top-color:#999;
	border-right-color:#999;
	padding:4px;
	overflow:hidden;
}
.tutorialbox{
	background-color:rgba(255,255,255,0.7);
	border:solid #000 2px;
	line-height:120%;
	color:#000;
	padding-left:4px;
	padding-right:4px;
	z-index:2;
}
.tutorialbg{
	background-color:rgba(0,0,0,0.5);
	pointer-events:none;
	position:absolute;
	height:600px;
	width:900px;
}
.numput{width:32px!important}
.imgb:hover{
	-webkit-filter:brightness(0.6);
	filter:brightness(0.6);
	cursor:pointer;
}
.imgb:active{
	-webkit-filter:brightness(0.4);
	filter:brightness(0.4);
	cursor:pointer;
}
#leftpane{
	width:900px;
	height:600px;
	position:absolute;
	-moz-user-select:none;
	-webkit-user-select:none;
}
#rightpane{
	left:900px;
	top:0px;
	position:absolute;
}
.chatBox{
	width:350px;
	height:488px;
	overflow-y:auto;
	overflow-x:hidden;
	color:#bd3636;
	background-color:#222;
	word-wrap:break-word;
	font:14px sans-serif;
}
.chatBox div:not(:first-child) { margin-top:4px }
.chatinput{
	width:350px;
	height:40px;
	resize:none;
	border:0;
	color:#ddd;
	background-color:#222;
	font:14px sans-serif;
}
.tab {
	padding-left: 12px;
}
.tabsel {
	padding-left: 12px;
	font-weight: bold;
}
@keyframes animatedShiny {
	0% { filter:hue-rotate(90deg) }
	100% { filter:hue-rotate(270deg) }
}
.inst {
	width: 68px;
	height: 68px;
	font-size: 8px;
	border: transparent 2px solid;
}
.handinst {
	transition: transform .5s;
}
.handinst.canactive {
	transform: translate(-4px);
}
.handinst.cantarget {
	transform: translate(-4px);
}
.handinst:hover {
	transform: translate(-8px);
}
.cantarget { border:2px #f00 solid!important;box-shadow:0 0 5px #f00 }
.cantarget:hover { border:2px #ff0 solid!important;box-shadow:0 0 5px #ff0 }
.canactive { border:2px #000 solid!important;box-shadow:0 0 5px #fff }
.canactive:hover { border:2px #00f solid!important;box-shadow:0 0 5px #fff }
.shiny {
	animation:animatedShiny 8s linear infinite alternate-reverse;
}