<!DOCTYPE html>
<head>
<title>Bolt Calculator</title>
<link href="/forum/Smileys/default/aether.png" rel="shortcut icon" />
<style>
	body{
		background-color:black;
		color:white;
		margin:0;
	}
	a{
		color:#6699FF;
		text-decoration:none;
	}
</style>
</head>
<input id="quantainput" type="text" placeholder="Quanta"><br>
Upped: <span id="uppedcount"></span><input id="upped" type="range" min="0" max="6" value="0"><br>
<div id="infobox"></div>