<!DOCTYPE html>
<head>
<title>Evade Calculator</title>
<link href="/forum/Smileys/default/darkness.png" rel="shortcut icon" />
<style>
	body{
		background-color:black;
		color:white;
		margin:0;
	}
	a{
		color:#6699FF;
		text-decoration:none;
	}
</style>
</head>
<input id="dmginput" type="text" placeholder="Damage"><br>
<div id="infobox"></div>